---
import GetStarted from './get-started.astro';
import Icon from './icon.astro';

const steps = [
    {
        name: "Inspect and Tweak",
        subtitle: "Edit CSS, text, links, and more",
        // Host the gifs on a separate server because they're huge and cause
        // issues when cloning/ rendering in webcontainers.
        gif: "https://blog.cryingpotato.com/tailor/inspect-and-edit.gif",
    },
    {
        name: "Let Tailor Work",
        subtitle: "Your tweak is translated into code",
        gif: "https://blog.cryingpotato.com/tailor/tailor-working.gif",
    },
    {
        name: "Commit Changes",
        subtitle: "Maintain the same git workflow",
        gif: "https://blog.cryingpotato.com/tailor/tailor-commit.gif",
    },
];
---

<section class="flex-col flex scroll-mt-24 items-center space-y-2 h-full relative" id="what">
    <h2
      class="flex gradient-text text-center font-extrabold tracking-tighter text-4xl w-full justify-center align-middle items-center text-primary"
    >
        <span class="mx-4">Introducing</span>
        <Icon icon="scissor-left" class="w-16 h-16 mr-2" />
        <span>Tailor</span>
        <Icon icon="scissor-right" class="w-16 h-16 ml-2" />

    </h2>
    <div class="w-full md:w-1/2">
        {steps.map((step, index) => (
            <div class="grid grid-cols-6 items-center space-y-2 space-x-3 text-buff" key={index}>
                <div class="col-span-2 md:col-span-3">
                    <h3 class="text-lg md:text-2xl font-bold text-center">{index + 1}. {step.name}</h3>
                    <p class="text-center text-rose">{step.subtitle}</p>
                </div>
                <div class="col-span-4 md:col-span-3 flex justify-center">
                    <img src={step.gif} alt={step.name} class="w-full max-w-64 border border-buff rounded-md" />
                </div>
            </div>
        ))}
    </div>
    <GetStarted />
</section>
